@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
}

body {
  background: linear-gradient(190deg, #867bcd 0%, #6a5aab 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
  overflow: hidden;
}

.App{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.App h1{
  display: inline;
  text-align: center;
  margin-bottom: 2rem;
  color: #ecebfd;
  text-shadow:  0 0 5px #433aa8,3px -1px 5px #271c6c;
}
